// Fonts
@import "./shared/fonts";

// If you want to override variables do it here
@import "./shared/variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "./shared/custom";

// ie fixes
@import "./shared/ie-fix";

.pointer {
  cursor: pointer;
}

.nav-dropdown-items {
  transition: none !important;
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

.table th,
.table td {
  vertical-align: middle !important;
}
